fastapi==0.110.0
uvicorn
python-multipart
pymupdf
spacy
nltk
scikit-learn
umap-learn
hdbscan
faiss-cpu
numpy
tensorflow==2.16.2
sentencepiece==0.2.0
tqdm
langchain==1.2.8
langchain-core==1.2.9
langchain-community==0.3.31
langgraph==1.0.7
python-dotenv
google-genai
playwright
trafilatura
elasticsearch==9.3.0
mlflow
